table.your_essays{
	margin: 0 auto;
}

table.pending_essays, table.pending_essays tr{
	border: 1px solid #000;
}

table.your_essays th, table.pending_essays th{

}
table.your_essays td, table.pending_essays td{
	width: 200px;
}


table.your_essays tbody td, table.pending_essays tbody td{
  vertical-align: middle;
  text-align: center;
}

form.inline_form{
	display: inline;
}

div#re-uploader, div#fix-uploader{
	display: none;
}

input.error, textarea.error{
	border: 1px solid #f00 !important;
}
p.error{
	font-size: 1.2em;
	color: #f00;
}

span.required{
	color: #aaa;
}

span.error{
	color: #f00;
}